@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@300;400;700&family=Open+Sans:wght@400;500;600;700;800&family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Public+Sans:wght@100;300;500;600;800;900&family=Red+Hat+Display:wght@500;700;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.space {
  min-height: 50vh;
}

section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background-color: #bac34e;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #222;
}

.heading {
  background-image: url(./image/heading-bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}
.heading h1 {
  color: #222;
  font-size: 4rem;
}
.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}
.heading p a {
  color: #222;
  padding-right: 0.5rem;
}
.heading p a:hover {
  color: #bac34e;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}
.title span {
  color: #bac34e;
  padding-left: 0.7rem;
}
.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}
.title a:hover {
  color: #bac34e;
}

.header .icons div, .header .search-form label {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}
.header .icons div:hover, .header .search-form label:hover {
  color: #bac34e;
}

.header .search-form, .header .shopping-cart, .header .login-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.info-container .info, .about, .header .search-form, .header .shopping-cart .box, .hero .slides-container .slide, .title {
  display: flex;
  align-items: center;
}

/* Styling the header file*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  color: #222;
  font-size: 2.5rem;
  font-weight: bolder;
}
.header .logo i {
  color: #bac34e;
  padding-right: 0.5rem;
}
.header .navbar a {
  color: #666;
  margin: 0 1rem;
  font-size: 1.7rem;
}
.header .navbar a:hover {
  color: #bac34e;
}
.header .icons .menu-btn {
  display: none;
}
.header .search-form {
  width: 50rem;
  height: 5.5rem;
}
.header .search-form.active {
  top: 115%;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #222;
  text-transform: none;
}
.header .search-form label {
  padding: 1.5rem;
}
.header .shopping-cart {
  top: 115%;
  right: -105%;
  width: 35rem;
  padding: 2rem;
}
.header .shopping-cart.active {
  right: 2rem;
}
.header .shopping-cart .box {
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.header .shopping-cart .box .close {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}
.header .shopping-cart .box .close:hover {
  color: #bac34e;
}
.header .shopping-cart .box img {
  height: 10rem;
}
.header .shopping-cart .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: #222;
  cursor: pointer;
}
.header .shopping-cart .box .content h3:hover {
  color: #bac34e;
}
.header .shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #666;
}
.header .shopping-cart .box .content span.multiply {
  margin: 0 0.5rem;
}
.header .shopping-cart .total {
  color: #666;
  text-align: center;
  font-size: 2.2rem;
}
.header .shopping-cart .total span {
  color: #222;
}
.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}
.header .login-form {
  top: 115%;
  right: -105%;
  width: 35rem;
  padding: 2rem;
}
.header .login-form.active {
  right: 2rem;
}
.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
}
.header .login-form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
  width: 100%;
}
.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.7rem 0;
}
.header .login-form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}
.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.header .login-form p {
  color: #666;
  padding-top: 0.7rem;
  font-size: 1.4rem;
}
.header .login-form p a {
  color: #bac34e;
}
.header .login-form p a:hover {
  text-decoration: underline;
}

.hero {
  padding-top: 14rem;
  background: url(./image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero .slides-container .slide {
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.hero .slides-container .slide.active {
  display: flex;
}
.hero .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}
.hero .slides-container .slide .content span {
  color: #666;
  font-size: 2.5rem;
}
.hero .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
}
.hero .slides-container .slide .image {
  flex: 1 1 40rem;
}
.hero .slides-container .slide .image img {
  width: 100%;
  animation: fadeUp 0.4s linear;
}
.hero #next,
.hero #prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  font-size: 3rem;
  color: #222;
  cursor: pointer;
}
.hero #next:hover,
.hero #prev:hover {
  background: #bac34e;
  color: #fff;
}
.hero #prev {
  left: 2rem;
}
.hero #next {
  right: 2rem;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  color: #f3f3f3;
  font-size: 1.5rem;
}
.banner-container .banner .content h3 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #222;
}
.banner-container .banner .content .btn {
  padding: 0.8rem 2.5rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 2rem 9%;
  }
  .header .search-form {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .header .search-form.active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #666;
    transition: all 0.4s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #f3f3f3;
    font-size: 2rem;
    display: block;
    border-radius: 0.5rem;
    text-align: center;
  }
  .header .icons .menu-btn {
    display: inline-block;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content h3 {
    font-size: 5rem;
  }
}
.footer {
  background-color: #f3f3f3;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.8rem;
  color: #666;
  padding-bottom: 0.5rem;
}
.footer .box-container .box a {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #bac34e;
  transform: translate(4px, -4px);
}
.footer .box-container .box a i {
  padding-right: 2rem;
}
.footer .box-container .box i {
  padding-right: 0.5rem;
  color: #bac34e;
}
.footer .box-container .box form input[type=email] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #222;
  margin: 1rem 0;
  text-transform: none;
}
.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  text-align: center;
  background-color: #bac34e;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-left: 2.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 2.5rem;
  }
  .footer .box-container .box a {
    font-size: 1.5rem;
  }
}
.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}
.category .box-container .box {
  text-align: center;
}
.category .box-container .box img {
  height: 15rem;
}
.category .box-container .box h3 {
  font-size: 2rem;
  color: #666;
  margin: 1rem 0;
}
.category .box-container .box:hover h3 {
  color: #bac34e;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  overflow: hidden;
}
.products .box-container .box:hover .icons {
  top: 0;
}
.products .box-container .box .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.8);
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  gap: 1rem;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}
.products .box-container .box .icons a:hover {
  background: #bac34e;
  color: #fff;
}
.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .box-container .box .content {
  padding: 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}
.products .box-container .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}
.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #bac34e;
}

.about {
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}
.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: 0.5rem;
}
.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}
.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .box-container .box:hover img {
  transform: scale(1.2);
}
.gallery .box-container .box:hover .icons {
  bottom: 0;
}
.gallery .box-container .box .icons {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 0;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  z-index: 10;
}
.gallery .box-container .box .icons a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 1.5rem;
}
.gallery .box-container .box .icons a:hover {
  color: #bac34e;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.info-container .info {
  gap: 1.5rem;
  padding: 2rem 0;
}
.info-container .info img {
  height: 7rem;
}
.info-container .info .content h3 {
  font-size: 2rem;
  color: #222;
  padding-bottom: 0.5rem;
}
.info-container .info .content span {
  font-size: 1.5rem;
  color: #666;
}

.review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}
.review .box {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.review .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.review .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.review .box .user h3 {
  font-size: 2.2rem;
  color: #222;
}
.review .box .user span {
  font-size: 1.4rem;
  color: #bac34e;
}
.review .box p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}
.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
}
.blogs .box-container .box .content .icons {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}
.blogs .box-container .box .content .icons a:hover {
  color: #bac34e;
}
.blogs .box-container .box .content .icons a i {
  color: #bac34e;
  padding-right: 0.5rem;
}
.blogs .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #222;
}
.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}/*# sourceMappingURL=style.css.map */